body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1f1b24;
    color: #f8f8f8;
}

h1 {
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
}

.game-container {

    height: 400px;
    width: 400px;

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

.game-item {
    background-color: mediumaquamarine;
    color: black;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.score-container {
    background-color: mediumaquamarine;
    color: black;
    margin-top: 40px;
    width: 400px;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}